body {
  background-color: beige;
  text-align: center;
}

h1 {
  font-family: MINECRAFT PE;
  padding-top: 25px;
}

.container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: 6px solid black;
  border-radius: 10%;
  background-color: rgb(225, 225, 225);
  margin-left: 38%;
  margin-right: 38%;
  border-style: outset;
}

button {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  box-shadow: 3px 3px gray;
}

button:hover {
  background-color: gray;
}

#even:hover {
  background-color: cadetblue;
}

#even {
  width: 140px;
  background-color: beige;
}

#visor {
  width: 280px;
  height: 70px;
  background-color: beige;
  font-family: DS-Digital;
  font-weight: 20;
  font-size: 80px;
  border-radius: 10px;
  border-width: 5px;
  text-align: right;
  margin-bottom: 10px;
  margin-top: 5px;
}
