#Title {
  text-align: center;
  color: #5481e1;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}

#Credits {
  text-align: center;
  color: #9f5255;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  margin-top: 0;
}

body {
  background-color: #1b1e33;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h3 {
  text-align: center;
  color: #0051ff;
  font-style: italic;
  font-weight: 200;
}

h4 {
  text-align: center;
  color: #5481e1;
  font-style: italic;
  font-weight: 200;
}

h5 {
  text-align: center;
  color: #e16a54;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 200;
}

h5:hover {
  cursor: pointer;
  color: aqua;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
}

.info {
  flex: 1;
  border: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
